mark {
	padding-left: 0.5em;
	padding-right: 0.5em;
	border-top: solid 3px #6ab0de;
	color: #000;
	background-color: #e7f2fa;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}
