::-webkit-scrollbar {
    width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); 
}
pre.language-none ::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0) !important;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2) !important;
}
