td {
  white-space: normal !important; 
  word-wrap: break-word;  
}
table {
  table-layout: fixed;
}

table.table-bordered{
    border:1px solid #057B43;
  }
table.table-bordered > thead > tr > th{
    border:1px solid #057B43;
}
table.table-bordered > tbody > tr > td{
    border:1px solid #057B43;
}

[data-toggle="modal"] { font-weight: bold }

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th
{  
    background-color: #458c6d;  
    color: #ebedec;  
}  

.table-striped > tbody > tr:nth-child(2n+1) > td > a, .table-striped > tbody > tr:nth-child(2n+1) > th > a
{  
    color: #ebedec; 
}  

.table-hover tbody tr:hover td
{  
    background-color: #6ab0de;  
    color: #ebedec;  
}  

.table-hover tbody tr:hover td a
{  
    color: #ebedec;  
}  
